<!DOCTYPE html>
<html lang="en">
  <head>
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
    <SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></SCRIPT>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/experience.css')}}?{{ cache_id }}"></link>
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>



  <section class="container">
    <article class="half">
      <h1>Experience</h1>

      <div class="divider">
      </div>

      <div class="content">
	<div class="cont">
	  <form action="#" method="post" enctype="multipart/form-data">
	    <!-- POSITIVE -->
	    <div style="display: flex; flex-direction: row;">
	      <input type="text" name="positive" id="positive" class="inpt" placeholder="Positive">
	      <input type="text" name="positive" id="positive" class="inptserver" placeholder="1-10">
	    </div>
	    <!-- NEGATIVE -->
            <div style="display: flex; flex-direction: row;">
	      <input type="text" name="negative" id="password" class="inpt" placeholder="Negative">
              <input type="text" name="positive" id="positive" class="inptserver" placeholder="1-10">
	    </div>
	    <!-- STOW BUTTON-->
	    <div class="submit-wrap">
	      <input value="Stow" class="submit" type="submit">
	    </div>


	  </form>
	</div>

      </div>
    </article>
  </section>



</html>
