<!DOCTYPE html>
<html lang="en">
  <head>
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
    <SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></SCRIPT>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}?{{ cache_id }}"></link>
    <script src="/static/scripts/login.js?{{ cache_id }}"></script>
  </head>



  <section class="container">
    <article class="half">
      <h1>Wellness</h1>
      <div class="tabs">
	<span class="tab signin active"><a href="#signin">Sign in</a></span>
	<span class="tab signup"><a href="#signup">Sign up</a></span>
      </div>

      <div class="content">
	<div class="signin-cont cont">
	  <form action="#" method="post" enctype="multipart/form-data">
	    <input type="email" name="email" id="si_email" class="inpt" required="required" placeholder="Your email">

	    <input type="password" name="password" id="si_password" class="inpt" required="required" placeholder="Your password">

	    <input type="checkbox" id="remember" class="checkbox" checked>

	    <div class="submit-wrap">
	    <input type="submit" value="Sign in" class="submit" id="signin_button">
	    <a href="#" class="more">Forgot your password?</a>
	    </div>
	  </form>
	</div>

      <div class="signup-cont cont">
        <form action="#" method="post" enctype="multipart/form-data">
	  <input type="name" name="fname" id="f_name" class="inpt" required="required" placeholder="First Name">

          <input type="name" name="lname" id="l_name" class="inpt" required="required" placeholder="Last Name">

          <input type="email" name="email" id="email" class="inpt" required="required" placeholder="Your email">

	  <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">

	  <div class="submit-wrap">
	    <input type="submit" value="Sign up" class="submit" id="signup_button">
	    <a href="#" class="more">Terms and conditions</a>
	   </div>
	 </form>
        </div>
      </div>
    </article>
    <div class="half bg"></div>
  </section>



</html>
