<!DOCTYPE html>
<html lang="en">
  <!-- HEAD -->
  <head>
    <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
    <SCRIPT src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></SCRIPT>
    <SCRIPT src="{{ url_for('static', filename='scripts/wellness.js')  }}?{{cache_id}}"></SCRIPT>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}?{{ cache_id }}"></link>
	<link rel="shortcut icon" href="#" />
  </head>

  <!-- Container Section-->
  <section class="container">
    <article class="half">
      <h1>Wellness</h1>

      <!-- Signup/ Signin Tabs-->
      <div class="tabs">
	<span class="tab signin active"><a href="#signin">Sign in</a></span>
	<span class="tab signup"><a href="#signup">Sign up</a></span>
      </div>

      <div class="content">
	<!-- Start of Sign In Form -->
	<div class="signin-cont cont">
	  <form>
	    <input type="email" name="email" id="si_email" class="inpt" required="required" placeholder="Your email">
	    <input type="password" name="password" id="si_password" class="inpt" required="required" placeholder="Your password">
	    <input type="checkbox" id="remember" class="checkbox" checked>
	    <div class="submit-wrap">
	    <input type="submit" value="Sign in" class="submit" id="signin_button">
	    <a href="#" class="more">Forgot your password?</a>
	    </div>
	  </form>
	</div>
	<!-- End of Sign In Form -->
	<!-- Start of Sign Up Form-->
      <div class="signup-cont cont">
        <div class="form">
    	  <input type="name" name="fname" id="f_name" class="inpt" required="required" placeholder="First Name">
          <input type="name" name="lname" id="l_name" class="inpt" required="required" placeholder="Last Name">
          <input type="email" name="email" id="email" class="inpt" required="required" placeholder="Your email">
	  <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">

	  <div class="submit-wrap">
	    <input type="submit" value="Sign up" class="submit" id="signup_button">
	    <a href="#" class="more">Terms and conditions</a>
	  </div>
	  </div>
        </div>
        <!-- End of Sign Up Form -->
      </div>
    </article>
    <!-- Right side of the container for image -->
    <div class="half bg"></div>
  </section>
  <!-- End Section-->
</html>
