*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", helvetica;
  position: relative;
  height: 100%;
  font-size: 100%;
  line-height: 1.5;
  color: #444;
  background: #eee;
}

a {
  text-decoration: none;
  padding: .5em;
  color: #09a;
  font-size: 1.2em;
}

h2 {
  margin: 1.75em 0 0;
  font-size: 5vw;
}

h3 {
  font-size: 1.3em;
}

.v-center {
  height: 100vh;
  width: 100%;
  display: table;
  position: relative;
  text-align: center;
}
.v-center > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -10%;
}

.btn {
  font-size: 2vmin;
  padding: 0.75em 1.5em;
  background-color: #fff;
  border: 1px solid #bbb;
  color: #333;
  text-decoration: none;
  display: inline;
  border-radius: 4px;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}
.btn:hover {
  background-color: #ddd;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  transition: background-color 1s ease;
}

/**
 * Tooltips!
 */
/* Base styles for the element that has a tooltip */
.tooltip,
[data-tooltip] {
  position: relative;
  cursor: pointer;
  /* Show the entire tooltip on hover and focus */
  /* arrow */
  /* Base styles for the tooltip's content area */
  /* Directions */
  /* Top (default) */
  /* Horizontally align top/bottom tooltips */
  /* Left */
  /* Bottom */
  /* Right */
  /* Move directional arrows down a bit for left/right tooltips */
  /* Vertically center tooltip content for left/right tooltips */
}
.tooltip:before, .tooltip:after,
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.1s ease-in-out, -webkit-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -moz-transition: opacity 0.2s ease-in-out, visibility 0.1s ease-in-out, -moz-transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: opacity 0.2s ease-in-out, visibility 0.1s ease-in-out, transform 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after,
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  display: block;
}
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
  position: absolute;
}
.tooltip:after,
[data-tooltip]:after {
  content: attr(data-tooltip);
  z-index: 1000;
  padding: .75em 1em;
  width: 12em;
  width: 15em;
  background-color: #000;
  background-color: black;
  color: #fff;
  font-size: .8rem;
  line-height: 1.2;
}
.tooltip:before, .tooltip:after, .tooltip:before, .tooltip:after,
[data-tooltip]:before,
[data-tooltip]:after,
[data-tooltip]:before,
[data-tooltip]:after {
  bottom: 60%;
  left: 39px;
  right: 39px;
}
.tooltip:before, .tooltip.tooltip-top:before,
[data-tooltip]:before,
[data-tooltip].tooltip-top:before {
  margin-left: 50%;
  margin-right: 50%;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: black;
}
.tooltip:after, .tooltip.tooltip-top:after,
[data-tooltip]:after,
[data-tooltip].tooltip-top:after {
  margin-left: 0;
  position: absolute;
  right: 0;
  left: 0;
}
.tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after, .tooltip:hover:before, .tooltip:hover:after, .tooltip:focus:before, .tooltip:focus:after,
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  -webkit-transform: translateY(-1rem);
  -moz-transform: translateY(-1rem);
  -ms-transform: translateY(-1rem);
  -o-transform: translateY(-1rem);
  transform: translateY(-1rem);
}
.tooltip.tooltip-left:before, .tooltip.tooltip-left:after,
[data-tooltip].tooltip-left:before,
[data-tooltip].tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}
.tooltip.tooltip-left:before,
[data-tooltip].tooltip-left:before {
  margin-left: 0;
  margin-right: -.7rem;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: black;
  position: absolute;
  right: 0;
  left: 0;
}
.tooltip.tooltip-left:hover:before, .tooltip.tooltip-left:hover:after, .tooltip.tooltip-left:focus:before, .tooltip.tooltip-left:focus:after,
[data-tooltip].tooltip-left:hover:before,
[data-tooltip].tooltip-left:hover:after,
[data-tooltip].tooltip-left:focus:before,
[data-tooltip].tooltip-left:focus:after {
  -webkit-transform: translateX(-0.3rem);
  -moz-transform: translateX(-0.3rem);
  -ms-transform: translateX(-0.3rem);
  -o-transform: translateX(-0.3rem);
  transform: translateX(-0.3rem);
}
.tooltip.tooltip-bottom:before, .tooltip.tooltip-bottom:after,
[data-tooltip].tooltip-bottom:before,
[data-tooltip].tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 0;
}
.tooltip.tooltip-bottom:before,
[data-tooltip].tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: black;
}
.tooltip.tooltip-bottom:hover:before, .tooltip.tooltip-bottom:hover:after, .tooltip.tooltip-bottom:focus:before, .tooltip.tooltip-bottom:focus:after,
[data-tooltip].tooltip-bottom:hover:before,
[data-tooltip].tooltip-bottom:hover:after,
[data-tooltip].tooltip-bottom:focus:before,
[data-tooltip].tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform: translateY(12px);
  -ms-transform: translateY(12px);
  -o-transform: translateY(12px);
  transform: translateY(12px);
}
.tooltip.tooltip-right:before, .tooltip.tooltip-right:after,
[data-tooltip].tooltip-right:before,
[data-tooltip].tooltip-right:after {
  bottom: 50%;
  left: 100%;
}
.tooltip.tooltip-right:before,
[data-tooltip].tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: black;
}
.tooltip.tooltip-right:hover:before, .tooltip.tooltip-right:hover:after, .tooltip.tooltip-right:focus:before, .tooltip.tooltip-right:focus:after,
[data-tooltip].tooltip-right:hover:before,
[data-tooltip].tooltip-right:hover:after,
[data-tooltip].tooltip-right:focus:before,
[data-tooltip].tooltip-right:focus:after {
  -webkit-transform: translateX(3px);
  -moz-transform: translateX(3px);
  -ms-transform: translateX(3px);
  -o-transform: translateX(3px);
  transform: translateX(3px);
}
.tooltip.tooltip-left:before, .tooltip.tooltip-right:before,
[data-tooltip].tooltip-left:before,
[data-tooltip].tooltip-right:before {
  top: 35%;
}
.tooltip.tooltip-left:after, .tooltip.tooltip-right:after,
[data-tooltip].tooltip-left:after,
[data-tooltip].tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}

.rel {
  position: relative;
}

input {
  border: 1px solid #aaa;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 3.5em;
  position: relative;
}

/* input field tooltips */
.tooltip-input {
  visibility: hidden;
  position: relative;
  top: -2em;
  right: -30%;
  opacity: 0;
  display: inline;
  height: auto;
  min-width: 100px;
  padding: .3em 1em;
  z-index: 9999;
  color: #fff;
  background: rgba(0, 0, 0, 0.85);
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  border-radius: 1px;
  -webkit-transition: al 0.3s ease-in-out;
  -moz-transition: al 0.3s ease-in-out;
  transition: al 0.3s ease-in-out;
}
.tooltip-input:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
  top: 22%;
  left: -7px;
  border-style: solid;
  border-width: 8px 8px 8px 0;
  border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent;
  position: absolute;
}

input:focus + .tooltip-input, input:focus + .tooltip-input:after {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}
